<div class="entirePage">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" >
          <img
            src="../../../../assets/logoNew.png"
            height="40"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbarItems">
          <li class="nav-item">
            <a class="nav-link" ><button class="navbarButton" (click)="goToCoverPage($event)">Home</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ><button class="navbarButton">About</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style=""><button class="navbarButton">Assessment</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ><button class="navbarButton">Analysis</button></a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">




        <button type="button" class="btn btn-link px-3 me-2" style="text-decoration: none; color: black; font-weight: 400;" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">
          Admin Login
        </button>
        <button type="button" class="btn me-3 signUpButton" style="background: #003153; border: 1px solid #003153; ">
          Sign up
        </button>
        <!-- Avatar -->
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"

          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="../../../../assets/user4.png"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" >My profile</a>
          </li>
          <li>
            <a class="dropdown-item" >Settings</a>
          </li>
          <li>
            <a class="dropdown-item" >Logout</a>
          </li>
        </ul>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>


  <!-- COVER PAGE CODE STARTS -->
  <div class="coverPage">
    <div class="mainContent" *ngIf="showCoverPage">
      <p class="mainTitle">Weighted Industry 4.0 Readiness Index</p>

      <p class="tagLine">To help companies identify focus areas of transformation that will generate the greatest value to them & their customers.</p>

      <button class="takeAssessmentButton" (click)="takeAssessmentIsClicked($event)" data-toggle="modal" data-target="#exampleModalCenter" data-toggle="modal" data-target="#exampleModalCenter">
        TAKE ASSESSMENT
      </button>
    </div>

    <img src="../../../../assets/dataImage.PNG" alt="image" class="coverImage" *ngIf="showCoverImage">
  </div>
  <!-- COVER PAGE CODE ENDS -->

</div>

































 <!-- MODAL CODE -->
 <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="align-items: center; text-align: center;">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeIcon" (click)="closeOrgDetailsModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Industry Sector</label>
            <select class="form-control" id="exampleFormControlSelect1" (change)="enterOrganizationSector($event)" value={{organizationSector}}>
              <option>Select</option>
              <option>AEROSPACE</option>
              <option>AUTOMOTIVE</option>
              <option>ELECTRONICS</option>
              <option>ENERGY & CHEMICALS (DOWNSTREAM)</option>
              <option>FOOD & BEVERAGE</option>
              <option>GENERAL MANUFACTURING</option>
              <option>LOGISTICS</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Organization Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Organization Name" (change)="enterOrganizationName($event)" value={{organizationName}}>
          </div>
          <div class="modalConfirmationText" *ngIf="showOrganizationConfirmation">Organization has been added!</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="addOrganizationButton()" style="background: rgb(16, 167, 36); font-size: .93rem; border-radius: 6px; color: white; text-transform: none;">Add</button>
        <button type="button" class="btn " style="background: #003153; border: 1px solid #003153; font-size: .93rem; border-radius: 6px; color: white; text-transform: none;" id="saveBtn" data-dismiss="modal" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="saveCompanyDetails()">Save changes</button>
      </div>
    </div>
  </div>
</div>




















<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="align-items: center; text-align: center;">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Dimension Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeIcon" (click)="closeOrgDetailsModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1" style="font-weight: 700;">Dimension Title</label>
            <input type="text" class="form-control" id="dimensionTitle" placeholder="Dimension Title" (change)="newDimensionMethod($event)" (click)="newDimensionClick()" value={{newDimension}}>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1" style="font-weight: 400;">Description</label>
            <input type="text" class="form-control" id="dimensionDescription" placeholder="Dimension Description" (change)="newDimensionDetailMethod($event)" (click)="newDimensionDetailClick()" value={{newDimensionDetail}}>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1" style="font-weight: 400;">Dimension Weight</label>
            <input type="number" class="form-control" id="weight" placeholder="Dimension Weight" (change)="newDimensionWeightMethod($event)" (click)="newDimensionWeightClick()" value={{newDimensionWeight}}>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1" style="font-weight: 400;">Dimension Cutoff</label>
            <input type="number" class="form-control" id="weight" placeholder="Dimension Cutoff" (change)="newDimensionCutoffMethod($event)" (click)="newDimensionCutoffClick()" value={{newDimensionCutoff}}>
          </div>
          <div class="modalConfirmationText" *ngIf="showDimensionConfirmation">Dimension has been added!</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="addDimensionButton()" style="background: rgb(16, 167, 36); font-size: .93rem; border-radius: 6px; color: white; text-transform: none;">Add</button>
        <button type="button" class="btn " style="background: #003153; border: 1px solid #003153; font-size: .93rem; border-radius: 6px; color: white; text-transform: none;" id="saveBtn" data-dismiss="modal" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="saveDimensionDetails()" routerLink="/survey">Save changes</button>
      </div>
    </div>
  </div>
</div>

















<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="align-items: center; text-align: center;">
        <h5 class="modal-title text-center" id="exampleModalLongTitle"> <div class="title">Login to your account</div> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeIcon">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div class="subTitle">Login to your account</div> -->
        <!-- <div class="caption">Enter as an admin to obtain full access to all the available data</div> -->
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1" style="font-weight: 400;">Username</label>
            <input type="text" class="form-control" id="usernameAdmin" placeholder="Email or phone number">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1" style="font-weight: 400;">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" style="background: rgb(16, 167, 36); font-size: .93rem; border-radius: 6px; color: white; text-transform: none;"></button> -->
        <button type="button" class="btn " style="background: #003153; border: 1px solid #003153; font-size: 1rem; border-radius: 6px; color: white; text-transform: none; margin-left: auto; margin-right: auto; width: 90%;" id="saveBtn" routerLink="/admin" data-bs-dismiss="modal" data-dismiss="modal">Sign in</button>
      </div>
    </div>
  </div>
</div>
